<div>
    <button class="btn btn-outline-primary me-3" (click)="get400Error()">test 400 Error</button>
    <button class="btn btn-outline-primary me-3" (click)="get401Error()">test 401 Error</button>
    <button class="btn btn-outline-primary me-3" (click)="get404Error()">test 404 Error</button>
    <button class="btn btn-outline-primary me-3" (click)="get500Error()">test 500 Error</button>
    <button class="btn btn-outline-primary me-3" (click)="get400ValidationError()">test 400 vlaidation Error</button>

    @if (validationErrors.length > 0) {
    <div class="row mt-5">
        <ul class="text-danger">
            @for (error of validationErrors; track $index) {
            <li>{{error}}</li>
            }
        </ul>
    </div>
    }
</div>